*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    transition: all 500ms;
}

body{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #FFF;
}

a{
    color: rgba(0, 0, 0, 0.473);
    text-decoration: none;
}