@import '../../../styles/guide.scss';

.content{
    padding: 16px 20px;
    border-radius: $border-radius;
    font-size: 1.2rem;  
    font-weight: bold;
    text-transform: uppercase;
    color: $color-primary;

    > svg{
        margin-bottom: -3px;
    }

    &.secondary{
        background-color: transparent;
        border: 1px solid $color-border;
        color: $color-text;
    }

    &.loading{
        background-color: transparent;
        border: 1px solid $color-border;
        cursor: progress;
    }

    &.disabled{
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:enabled{
        &:hover{
            background-color: #CCC;
            cursor: pointer;
        }
    }
}